<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creando clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <style>
        body{
            font-family: Arial;
        }
        .error-control {
            border: 1px solid rgb(252, 157, 3);
        }
        label.error {
            color: rgb(252, 157, 3);
            width: 200px;
            font-size: 0.8em;
            margin-top: -5px;
            margin-bottom: 10px;
        }  
    </style>

    <script>
        $(function()
        {
           $("#formulario").validate({
               rule:{
                rut: "required",
                nombre: "required",
                apellidos: "required",
                correo: "required",
                password: "required",
                fono: "required",
                direccion: "required",
               },
               messages:
               {
                rut: {
                    required: 'ingresa rut',
                },
                nombre: {
                    required: 'ingrese nombre',
                },
                apellidos: {
                    required: 'ingrese sus apellidos',
                },
                correo: {
                    required: 'ingrese su correo',
                },
                password :{
                    required: 'ingrese password',

                },
                fono :{
                    required: 'ingrese telefono',

                },
                direccion :{
                    required: 'ingrese su direccion',

                },
                comuna:{
                  required: 'Seleccione una comuna',
                },
          }//messages
        }); //$('#mi-formulario').validate
  }); //function
</script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Creando clientes</h2>
        </div>
        {% if user.is_authenticated  %}
            <div class="row">
                <form  method="post" action="#" id="formulario">
                    {%csrf_token%}
                    <div class="form-group">
                        {{cliente_form.rut.label}}
                        {{cliente_form.rut}}
                    </div>
                    <br>
                    <div class="form-group">
                        {{cliente_form.nombre.label}}
                        {{cliente_form.nombre}}
                    </div>
                    <br>
                    <div class="form-group">
                        {{cliente_form.apellidos.label}}
                        {{cliente_form.apellidos}}
                    </div>
                    <br>                    <br>
                    <div class="form-group">
                        {{cliente_form.correo.label}}
                        {{cliente_form.correo}}
                    </div>
                    <br>
                    <div class="form-group">
                        {{cliente_form.password.label}}
                        {{cliente_form.password}}
                    </div>
                    <br>
                    <div class="form-group">
                        {{cliente_form.fono.label}}
                        {{cliente_form.fono}}
                    </div>
                    <br>
                    <div class="form-group">
                        {{cliente_form.direccion.label}}
                        {{cliente_form.direccion}}
                    </div>
                    <br>
                    <div class="form-group">
                        {{cliente_form.comuna.label}}
                        {{cliente_form.comuna}}
                    </div>
                    <br></br>
                    <div class="row">
                        <div class="col-md">
                             <input type="submit" class="btn btn-danger" id="enviar" value="Enviar" >
                            <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
                            
                        </div>
                    </div>
                </form>
                {% else %}
                <br><br><br>
                <h3 style="color: red; text-align: center;">No tiene permisos para Agregar Vehiculos</h3>
                {%endif%}
            </div>
    </div>
    <a href="{% url 'cliente' %}" class="btn btn-success" ></a>
</body>
</html>